test/unit/coverage/**
test/unit/*.js
test/e2e/*.js
src/renderer/config/address.js
src/renderer/views/commonComponent/luyin.js
src/renderer/assets/eventBus.js
src/renderer/assets/webDB.js
src/renderer/assets/global.js
src/renderer/assets/sortObj.js
src/renderer/assets/shortcut-capture.js
src/renderer/views/commonComponent/mp3.js
src/renderer/views/commonComponent/mp3.html
src/renderer/views/commonComponent/worker-realtime.js
src/main/window/js/main.js
src/main/window/js/email.js
src/main/window/js/shortcut-capture.js
static/index.html
