<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{
            height: 250px;
            text-align: center;
        }
        .btn{
            text-align: center;

        }
        #btn{
            background-color:#00cc66 ;
            color: #fff;
            font-size: 18px;
            border: 0;
            padding: 5px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        #btn:hover{
            background-color:#00cc00 ;
        }
    </style>
</head>
<body>
   <div class="box">
       <img src="RWS(A@C%7B%5BGLF~%25O4%7B6N_%7BY7.png" alt="">
   </div>
   <div class="btn">
       <button id="btn">关闭</button>
   </div>
    <script>
        const btn = document.getElementById('btn');
        btn.addEventListener('click', () => {
          window.close();
        }, false)
    </script>
</body>
</html>