.layout{
    background: #f5f7f9;
    position: relative;
}

.layout-content{
    min-height: 200px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}

.layout-content-main{
    padding: 10px;
}

.layout-copy{
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

.layout-menu-left{
    background: #464c5b;
}

.layout-header{
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.layout-logo-left{
    width: 90%;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    margin: 15px auto;
}

.operation {
    width: 270px;
    float: right;
    line-height: 55px;
    margin-right: 10px;
}

.content-page {
    padding: 10px;
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    right: 0;
}

.window-border {
    width: 100%;
    height: 50px;
    -webkit-app-region: drag;
    position: relative;
    background: #39f;
}

.window-title {
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #fff;
    width: 500px;
    height: 50px;
}

.window-control {
    position: absolute;
    right: 0;
    width: 160px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    top: 0;
    right: 0;
    z-index: 9999;
}

.window-icon {
    cursor: pointer;
    padding: 10px;
}

.window-icon:hover {
    color:#ccc;
}

.user-portrait {
    width: 50px;
    height: 50px;
    background-size: cover;
    border: 2px solid #39f;
    display: inline-block;
}

.user-text {
    color: #fff;
    display: inline-block;
    width: 155px;
    vertical-align: top;
    line-height: 53px;
    font-size: 13px;
}